<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dylan Lavimodiere - Assignment #1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <!--your name-->
        <h1>Dylan Lavimodiere</h1>
        <hr>
        <!--ten things you like in an ordered list, can be about food, video games, movies, or places you have visited-->
        <h2>My favorite VR games:</h2>
        <ol type="1">
            <li>Boneworks</li><!--1-->
            <li>Hot Dogs, Horseshoes & Hand Grenades</li><!--2-->
            <li>Blade & Sorcery</li><!--3-->
            <li>Jet Island</li><!--4-->
            <li>Robo Recall</li><!--5-->
            <li>Half-Life:Alyx</li><!--6-->
            <li>No Man's Sky</li><!--7-->
            <li>The Forest</li><!--8-->
            <li>Pistol Whip</li><!--9-->
            <li>VRChat</li><!--10-->
        </ol>
        <!--Add two links on the page after the list-->
        <a href="listAdd.html">Add to list</a> <!--Add to List page with a non working form to add new entries-->
        <a href="login.html">Login</a> <!--page to secure and login to the entries page-->
        <!--add a paragraph on why you picked the topic-->
        <p>
            I picked the topic of virtual reality games because I know we have previously discussed the topic of VR games. This is a list of my favorite games to play in my rift. The 3 most common games I seem to play are Boneworks, H3VR, and B&S. I think the main reason is because of the modifications that other players have made to generate more content for the game and add more enjoyment. I also made this list to inform you of these games in case you have not heard of them. Either way, I have put many hours into each of the games listed and would like to showcase them.
        </p>
        
        
    </div>
</body>

</html>