<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dylan Lavimodiere - Assignment #1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <br>
        <!--non working form to add new entries-->
        <form action="index.html">
            <label>New item:</label>
            <br>
            <input type="text">
            <br>
            <br>
            <input type="submit" value="Add to list">
        </form>
    </div>
</body>

</html>