<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dylan Lavimodiere - Assignment #1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <a href="index.html">Home</a>
        <a href="listAdd.html">Add to list</a>
        <br>
        <!--secure and login to the entries page-->
        <form action="listAdd.html">
            <label>Username:</label>
            <br>
            <input type="text">
            <br>
            <label>Password:</label>
            <br>
            <input type="text">
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>